* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to right, rgba(177, 104, 187,.88), rgba(57, 235, 241, 0.88));
    height: 100vh;
}

.weather-container {
    display: block;
    background-color: #fff;
    margin: 30px auto;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    line-height: 3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}